@import './reset.css';
@import './layout.css';
@import './modules.css';

* {
 box-sizing:border-box;
}
body{
    margin: auto;
    background-color: darkgray;
}
header{
    height: 300px;
    background-color: rgb(12, 12, 12);
    color: white;
}
form{
    display: inline;
    width: 500px;
    height: 600px;
}
