<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <section>
            <img src="<%= detialView.image_url %>" alt="">
            <h2><%=detialView.title %></h2>
            <h4><%=detialView.author %></h4>
            <p><%=detialView.description %></p>
        </section>

    
</body>
</html>