<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./puplic/styles/reset.css">
    <link rel="stylesheet" href="./puplic/styles/base.css">
</head>
<body>
    <header>
        <h1>Search by Title or Author </h1>
    </header>
    <main>
        <div>
        <form action="">
          <fieldset>
              <input type="text" placeholder="Enter a title or author">
              <label ><span>Title</span>
              <input type="radio" name="search" text="Title">
              </label>
               <label > <span>Author</span>
              <input type="radio" name="search" text="Author"> 
                   </label>
              <button type="submit">Search the Google Books API</button>
           </fieldset>
        </form>
        </div>
    </main>
</body>
</html>