<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <title>Search Book</title>
</head>
<body>
    <header>
       <h1> Search by Title orAuthor</h1>
    </header>
    <main>
        <div class="containar">
          <form action="/searches" method="post">
             <label for="search-name">
                <span>Search Text:</span>
               <input type="text" name="name" id="search-name">
             </label><br>
             <label for="search-by">
             Author</label>
            <input type="radio" name="search" value="author" id="search-by-author">
             <br>
            
            <label for="search-by-title">Title</label>
            <input type="radio" name="search" value="title" id="">
          <br>
        <input type="submit" value="Search">
    </form>
    </div>
</main>
</body>

</html>